.meteo-widget {
    background: #0000ef;
    color: #fff;
    border-radius: 12px;
    padding: 12px;
    font-size: 0.9rem;
    margin: 20px;
    max-width: 300px;
    
}

.meteo-days {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.meteo-day {
    text-align: center;
    flex: 1;
}

.meteo-day img {
    width: 40px;
}
